body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: cursive;
    height: 100px;
    align-items: center;
    background-color: darkgreen;
}

.btn {
    background-color: orangered;
    padding: 30px 60px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
    top: 30px;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    background-color: brown;
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50% -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}

.btn:hover {
    width: 50%;
    height: 100px;
}